<ion-header>
  <ion-toolbar>
    <ion-title>addNewTask</ion-title>
    <ion-icon name="close" slot="end" size="large" class="ion-padding" (click)="dismiss()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-textarea [(ngModel)]="NombreTarea" placeholder="Write a new task..."></ion-textarea>
    </ion-item>
  </ion-card>

  <ion-item>
    <ion-label>Priority</ion-label>
    <ion-select [(ngModel)]="PrioridadTarea"> 
      <ion-select-option value="alta">Alta</ion-select-option>
      <ion-select-option value="media">Media</ion-select-option>
      <ion-select-option value="baja">Baja</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-icon name="pricetag-outline" slot="start"></ion-icon>
    <ion-label>Category</ion-label>
    <span>{{CategoriaTarea}}</span>
  </ion-item>
  <ion-item>
    <ion-chip *ngFor="let categoria of categorias; let i=index" (click)="catSelected(i)">
      <ion-label>{{categoria}}</ion-label>
    </ion-chip>
  </ion-item>

  <ion-item >
    <ion-icon name="calendar-outline" slot="start"></ion-icon>
    <ion-label>Fecha de Actividad</ion-label>
    <ion-datetime [(ngModel)]="FechaTarea" format="D MMM YYYY H:mm"></ion-datetime>
  </ion-item>

  <ion-button class="ion-margin" expand="block" (click)="newTask()">Add Task</ion-button>
</ion-content>
